.packet-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 3.5rem 1.5rem;
    margin-top: 2rem;
    user-select: none;
}

@media (min-width: 1024px) {
    .packet-section {
        padding: 4rem 4rem 2rem 4rem;
    }
}

.packet-section h2 {
    width: 94%;
    font-size: 2rem;
    border-bottom: 1px solid black;
    padding-bottom: 0.75rem;
    font-weight: normal;
}

@media (min-width: 1024px) {
    .packet-section h2 {
        width: 100%;
        font-size: 3rem;
    }
}

.packet-section p {
    width: 94%;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: black;
    line-height: 1.5;
}

@media (min-width: 1024px) {
    .packet-section p {
        width: max-content;
        margin-top: 20px;
    }
}

.breadcrumb-and-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0 1.5rem;
}

@media (min-width: 1024px) {
    .breadcrumb-and-buttons {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }
}

.breadcrumb {
    display: flex;
    align-items: center;
    width: 100%;
}

@media (min-width: 1024px) {
    .breadcrumb {
        width: 70%;
    }
}

.breadcrumb a {
    color: #3b82f6;
    cursor: pointer;
}

.breadcrumb a:hover {
    filter: brightness(0.75);
}

.breadcrumb span {
    margin: 0 0.5rem;
}

.buttons {
    display: flex;
    margin-top: 1.5rem;
}

@media (min-width: 1024px) {
    .buttons {
        margin-top: 0;
    }
}

.booking-button, .classical-button {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    color: black;
    border: 1px solid black;
    cursor: default;
    transition: transform 0.1s;
}

.booking-button {
    background-color: #FFD476;
    margin-right: 0;
}

.classical-button {
    background-color: transparent;
}

.booking-button i, .classical-button i {
    width: 1rem;
    height: 1rem;
    margin-right: 0.75rem;
}

.services-container {
    width: 100%;
    border: 1px solid black;
    background-color: white;
}

@media (min-width: 1024px) {
    .services-container {
        display: flex;
    }
}

.service-column {
    width: 100%;
    padding: 0.75rem 2rem;
}

@media (min-width: 1024px) {
    .service-column {
        width: 33.333%;
        padding: 2rem;
    }

    .service-column:nth-child(2) {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
}

.service-column h3 {
    font-size: 1.25rem;
    margin: 0.75rem 0 2rem 0;
    width: 90%;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

.service-column ul {
    list-style: none;
}

.service-column li {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    gap: 12px;
}

.service-column li i {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.75rem 1rem;
}

.breadcrumb2 {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid #000;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

.breadcrumb-link2 {
    color: #3b82f6;
    text-decoration: none;
}

.breadcrumb-link2:hover {
    filter: brightness(75%);
}

.breadcrumb-separator2 {
    margin: 0 0.5rem;
}

@media screen and (max-width: 650px) {
    .breadcrumb2 {
        display: flex;
        align-items: baseline;
        border-bottom: 1px solid #000;
        padding-bottom: 1rem;
        margin-bottom: 1.5rem;
    }

    .packet-section h2 {
        margin-left: -1.8px;
    }

    .packet-section {
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 3.5rem 1.2rem;
    }
}

.icon-map {
    width: 16px;
    font-size: 20px;
}